<p>Bonjour {{nameUser}},</p>
<p>Cliquez sur le lien afin de modifier votre mot de passe</p>
<a href="{{url}}">cliquez ici pour reinisaliser le mot de passe</a>
<p>Merci utiliser notre service.</p>
<p>Cordialement,</p>
<p>L'équipe de L'auberge de tombouktou</p>